<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>

</head>
<body>
</header>
<main>
    <div id="app">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <h1 v-text="sitename" class="text-success"></h1>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>

            <button v-on:click='showCheckout' class="btn btn-outline-success my-2 my-sm-0">
                {{cartItemCount}}
                <span class="fas fa-shopping-cart"></span> Checkout

        </nav>
    <div v-if='showProduct'>
        <div v-for="product in products">
                  


            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
              <div class="uk-card-media-left uk-cover-container">
                  <img v-bind:src="product.image" alt="" uk-cover>
                  <canvas width="600" height="400"></canvas>
              </div>
              <div>
                  <div class="uk-card-body">
                    <h3 class="uk-card-title" v-text="product.subject"></h3>
                    <p class="card-text">Location: {{product.location}}</p>
                    <p class="card-text">Price: £{{product.price}}</p>
                    <p class="card-text">Available Seats: {{product.availableInventory - cartCount(product)}}</p>

                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)' class="btn btn-primary">Add to cart</button>

                    <button disabled="disabled" v-else class="btn btn-disabled">Add to cart</button>
          
                    <span v-if='product.availableInventory === cartCount(product)'>All out!</span>
                    <span v-else-if="product.availableInventory - cartCount(product) < 5">
                                Only {{product.availableInventory - cartCount(product)}} left!
                    </span>
                    <span v-else>Buy now!</span>
                    <div>
                      <span v-for='n in product.rating'>★</span>
                      <span v-for='n in 5-product.rating'>☆</span>
                      </div>

   
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div v-else>
        <h2>Checkout</h2>

        <form>


            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text border border-primary">Full Name</span>
              </div>
              <input v-model.trim="order.fullName"  type="text" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)" placeholder="Your Full Name" class="form-control border border-info" required minlength="3" maxlength="30">              </div>

            
             
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text border border-info">Phone Number:</span>
              </div>
              <input id="mobile" v-model.number="order.phoneNumber" pattern="^\d{10}$" title="Only 10 Digits are allowed" @keypress="onlyNumbers" type="tel" placeholder="Your Phone Number (Only 10 digits are allowed)" class="form-control border border-success" required>
              <span class="input-group-text border border-info">Only 10 digits are allowed</span>
            </div>   


            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text border border-success"> <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                  v-bind:false-value="order.dontSendGift"> </span>
                  <span class="input-group-text border border-primary" for="gift">Ship As Gift?</span>
                </div>
              </div>
            
           
            
          
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border border-info"> <input type="radio" id="home" value="Home" v-model="order.method" > </span>
                <span class="input-group-text border border-primary">Home</span>
                <span class="input-group-text border border-info"> <input type="radio" id="business" value="Business" v-model="order.method"> </span>
                <span class="input-group-text border border-primary"> Business</span>
              </div>
             
            </div>


          <h2>Order Information</h2>
          <p class="input-group-text border border-primary">Full Name: {{order.fullName}}</p>
          <p class="input-group-text border border-info">Phone Number: {{order.phoneNumber}}</p>
          <p class="input-group-text border border-success">Gift? {{order.gift}}</p>
          <p class="input-group-text border border-warning">Method: {{order.method}}</p>
          <p class="input-group-text border border-primary">Your Total: £{{total}}</p> </br>

          
           
          <button class="btn btn-success" v-if="order.fulName!= '' && order.phoneNumber!= '' " type="submit" v-on:click="submitForm(order)">Place Order</button>
            
            
      </form>

 
    </div>



    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Activities',
                products: products,
                cart: [],
                showProduct: true,
                order: {
                    fullName: '',
                    phoneNumber: '',
                    method: 'Home',
                    gift: 'Send as a gift',
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do not send as a gift',
                },
               
                
            },
            // created: function () {
            //     this.products = allProducts
            // },
            methods: {
                addToCart(product) {
                  product.quantity -= 1
                  this.cart.push(product);
                  // console.log('adding to cart', product.id)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product);
                },
                clearCart() {
                    
                    webstore.cart = [];
                    this.showProduct = true;
                     
                 },
                
                submitForm(order){
                       
                alert("Order not placed until you are redirected to the Home Screen")
                            
                },
                    
               
                removeItem(product){
                    this.cart.splice(this.cart.indexOf(product),1); //delete 1 element from the array at the position index
                    this.showProduct= true; 
                },
                   

                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                onlyNumbers(event) {      
                    let keyCode = event.keyCode ? event.keyCode : event.which;
                    if (keyCode < 48 || keyCode > 57) {
                    event.preventDefault();
                    }
                },
               
            },
            
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                // canAddToCart(product) {
                //     return product.availableInventory > this.cartItemCount;
                // }
                
                
            },
        });
    </script>
 
</body>
</html>